/* Importation des polices */
@font-face {
    font-family: "matter";
    src: url(assets/font/matter/Matter-Regular.ttf);
    font-display: swap;
}

@font-face {
    font-family: "matter-thin";
    src: url(assets/font/matter/Matter-Light.ttf);
    font-display: swap;
}

@font-face {
    font-family: "matter-bold";
    src: url(assets/font/matter/Matter-Bold.ttf);
    font-display: swap;
}

/* Reglages globaux */
body {
    font-family: "matter", sans-serif;
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
    background: white;
    color: #333;
    list-style: none;
}

main a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    transition: 0.3s;
}

.decorative-circle {
    position: absolute;
    width: 80px;
    height: 80px;
    background: linear-gradient(56deg, #5f1f5c, #bb33b7, #c9532a);
    border-radius: 50%;
    z-index: -1;
}

.title-line {
    width: 60px;
    height: 4px;
    background: linear-gradient(56deg, #5f1f5c, #bb33b7, #c9532a);
    border-radius: 10px;
    margin-bottom: 2px;
}

/* HEADER */
header {
    background: white;
    border-bottom: 1px solid rgba(167, 167, 167, 0.219);
    box-shadow: 0px 16px 20px 0px rgba(37, 37, 37, 0.062);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 60px 20px 60px;
    z-index: 1000;
    width: 100%;
    position: fixed;
}

header img {
    width: 6%;
    height: auto;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 45px;
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    font-weight: 600;
    font-family: "matter", sans-serif;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #7c3dc5;
}

header .btn {
    padding: 12px 22px;
    background: linear-gradient(41deg, #410975, rgba(92, 51, 204, 0.95), rgba(102, 100, 250, 0.95));
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 6px;
    transition: 0.3s;
}

header .btn:hover {
    background: rgb(187, 74, 224);
}

/* INTRO */
#intro {
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px 60px;
    margin-bottom: 50px;
}

#intro .decorative-circle {
    top: 695px;
    left: 530px;
}

#intro .text {
    width: 50%;
    padding-left: 200px;
    margin-top: 40px;
}

#intro .text h1 {
    font-size: 3.2rem;
    font-family: "matter-bold", sans-serif;
    line-height: 1.3;
    /* font-weight: 30; */
    /* width: 100%; */
    /* text-align: justify; */
    /* margin: 0 auto; */
}

#intro .text h1 .thin {
    font-weight: 300;
    font-family: "matter-thin", sans-serif;
}

#intro .text h1 .gradient {
    font-weight: 800;
    background: linear-gradient(90deg, #5c2d91, #ff7eb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#intro .text p {
    font-size: 1.2rem;
    line-height: 1.6;
    font-family: "matter-thin", sans-serif;
    font-weight: 30;
    margin: 20px 0 40px 0;
}

#intro .text a {
    background: rgb(45, 128, 254);
    color: white;
    font-size: 0.9rem;
    padding: 15px 25px;
    border-radius: 6px;
    transition: 0.3s;
}

#intro .text a:hover {
    background: rgb(10, 73, 168);
}

#intro .img {
    width: 50%;
    padding-right: 200px;
    margin-top: 60px;
}

#intro .img img {
    width: 100%;
}

/* SERVICES */
#services {
    padding: 10px 40px;
    background: #f9f9f9;
    border-bottom: 1.5px solid rgba(167, 167, 167, 0.219);
    border-top: 1.5px solid rgba(167, 167, 167, 0.219);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services h2 {
    font-size: 2rem;
    font-family: "matter-bold", sans-serif;
    font-weight: 70;
    padding-top: 10px;
    margin-bottom: 50px;
}

.services {
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
    margin-bottom: 40px;
    justify-content: center;
    /* overflow: hidden; */
    position: relative;
}

.service-card {
    font-family: "matter-thin", sans-serif;
    font-size: 1rem;
    line-height: 20px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 5px rgba(37, 37, 37, 0.062);
    transition: transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
    width: 350px;
    height: 300px;
    margin: 0 20px;
    border: 2px solid transparent;
    flex-shrink: 0;
}

.service-card:hover {
    border-image: linear-gradient(90deg, #5c2d91, #ff7eb3) 1;
    transform: translateY(15px);
}

.service-card img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin-top: 20px;
    border: 0.8px solid #ff7eb3;
    border-radius: 50%;
    padding: 10px;
}

.service-card h3 {
    font-size: 1.4rem;
    font-weight: 700;
    font-family: "matter", sans-serif;
    margin-bottom: 10px;
    padding-bottom: 5px;
    transition: background 0.3s ease, -webkit-text-fill-color 0.3s ease;
}

.service-card:hover h3 {
    background: linear-gradient(90deg, #5c2d91, #ff7eb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.service-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
    margin-bottom: 40px;
}

.dot {
    width: 10px;
    height: 10px;
    background: #ddd;
    border-radius: 50%;
    transition: background 0.3s;
    cursor: pointer;
}

.dot.active {
    background: linear-gradient(90deg, #5c2d91, #ff7eb3);
}

/* PARTNERS */
#partners {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#partners .decorative-circle {
    margin-bottom: 1185px;
    margin-right: 1200px;
}

.informations {
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 60px;
    padding: 0 40px;
}

.informations .text {
    width: 50%;
}

.informations .video {
    width: 50%;
}

.video video {
    width: 100%;
    border-radius: 20px;
    max-width: 700px;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.informations .text h2 {
    font-size: 2rem;
    line-height: 1.5;
    font-family: "matter-thin", sans-serif;
    margin-bottom: 40px;
}

.informations .text h2 .strong {
    font-family: "matter-bold", sans-serif;
}

.informations .text p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.informations .text p .colored {
    color: #bb33b7;
}

.informations .text a {
    font-size: 1.3rem;
    color: rgb(97, 9, 179);
}

.informations .text a:hover {
    color: rgb(173, 90, 251);
}

.partners-list {
    display: flex;
    flex-direction: column;
    font-family: "matter-thin", sans-serif ;
    margin-top: 80px;
    width: 100%;
}

.partners-list .title-line {
    margin-left: 111px;
}

.partners-list h2 {
    font-size: 1.9rem;
    line-height: 40px;
    margin: 60px 10px;
    padding-left: 101px;
}

.partners-logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 60px;
    background: #f9f9f9;
    border-bottom: 1.5px solid rgba(167, 167, 167, 0.219);
    border-top: 1.5px solid rgba(167, 167, 167, 0.219);
    padding: 45px 20px;
    width: 100%;
}

.partners-logos .decorative-circle {
    margin-top: 970px;
    margin-left: 1600px;
}

.partners-logos img {
    width: 100px;
    height: auto;
}

/* FEEDBACK */
#feedback {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px;
    font-family: "matter-thin", sans-serif;
}

#feedback .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#feedback .text h2 {
    font-size: 1.9rem;
}

#feedback .text p {
    font-size: 1.3rem;
}

.feedbacks {
    display: flex;
    margin-top: 20px;
}